.singleBlog {
    width: 872px;
    height: 750px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.singleBlog img {
    width: 850px;
    height: 400px;
    margin: 10px;
    border-radius: 8px;
}

.singleBlog-title {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    color: #111111;
}

.singleBlog-info-child-1 {
    margin-top: 10px;
    
}
.nameinfo p{
    margin-left: 10px;
    height: 18px;
    margin-top: 8px;
    font-size: 15px;
}

.singleBlog-info-child-1 img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.singleBlog-info-child-2 {
    margin-left: 12px;
}
.time{
    margin-top: 15px;
}